body {
    background-color: beige;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Heading {
    height: 30px;
    background-color: rgb(230, 181, 7);
    padding: 10px 10px 15px 20px;
    align-items: center;
    justify-content: left;
    font-size: 30px;
    font-family: 'Pangolin', cursive;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 17px;
    margin-top: 0px;
}

p{
    margin-top: 0px;
}

.note {
    color: black;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    background-color: white;
    height: 50px;
    width: 170px;
    margin: 15px 20px 15px 20px;
    padding: 10px 17px 20px 17px;
    align-items: center;
    justify-content: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #f1f1f100;
    margin-top: 35%;
    text-align: center;
    color:rgb(132, 134, 135);
}